:root {
  --clr-primary-01: #121213;
  --clr-primary-02: #818384;

  --clr-secondary-01: #538d4e;
  --clr-secondary-02: #b59f3b;
  --clr-secondary-03: #3a3a3c;
  --clr-secondary-04: #56565a;

  --clr-neutral-01: #fff;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--clr-primary-01);
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  display: flex;
}

.tile {
  width: 62px;
  height: 62px;
  background-color: var(--clr-primary-01);
  border: 2px solid var(--clr-secondary-03);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.15em;
}

.active {
  border-color: var(--clr-secondary-04);
}

.tile span {
  color: var(--clr-neutral-01);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.correct-letter-position {
  border-color: var(--clr-secondary-01) !important;
  background-color: var(--clr-secondary-01);
}

/* Correct letter and position */
.correct-letter {
  border-color: var(--clr-secondary-02) !important;
  background-color: var(--clr-secondary-02);
}

/* Incorrect letter and position */
.incorrect-letter-position {
  border-color: var(--clr-secondary-03) !important;

  background-color: var(--clr-secondary-03);
}
